<footer class="bg-light text-center absolute-bottom">
    <div class="text-center p-3 bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="btn btn-link" href="/">
            {{template "partials/logo"}}
        </a>
        <a href="https://docs.librecode.com" class="btn btn-link">
            Docs
        </a>
        <a href="https://app.revolt.chat" class="btn btn-link">
            Community
        </a>
        <a href="https://github.com" class="btn btn-link">
            Source Code
        </a>
        <a href="https://api.librecode.com" class="btn btn-link">
            API
        </a>
        <a href="/marketplace" class="btn btn-link">
            Marketplace
        </a>
        <a href="/tos" class="btn btn-link">
            ToS
        </a>
    </div>
</footer>
