<ul class="nav nav-tabs mb-2">
    <li class="nav-item">
        <a class="nav-link {{if eq .ActiveTab ""}} active {{end}}" href="?tab=home">
            <i class="bi bi-book"></i>
            Overview
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  {{if eq .ActiveTab "repositories"}} active {{end}}" href="?tab=repositories">
            <i class="bi bi-journals"></i>
            Repositories
            <span class="badge text-bg-secondary">{{.VisitedUser.AmountRepositories}}</span>
        </a>
    </li>
</ul>
