<div class="card">
    <img src="/assets/community.png" class="card-img-top" alt="user profile picture">
    <div class="card-body">
        <div class="card-title h5 text-bold">
            My Awesome Display Name
        </div>
        <div class="card-subtitle text-body-secondary text-muted">
            username
        </div>
        <br>
        <p class="card-text">
            <button class="btn btn-secondary w-100">Follow</button>
        </p>
        <p class="card-text">
            Here goes my bio I am a very passionate developer who is into tech omg what the fuck is
            going on xd. the list goes on and on and on lol.
        </p>
        <p class="card-text">
            <span class="badge text-bg-primary">
                <i class="bi bi-people"></i>
                7 followers
            </span>
            <span class="badge text-bg-primary">
                <i class="bi bi-person-check-fill"></i>
                8 following
            </span>
        </p>
    </div>
</div>
