<div class="container py-4">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{template "partials/user_card"}}
        </div>

        <div class="col-sm-12 col-md-9">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="?tab=home">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="?tab=repositories">
                        Repositories
                        <span class="badge text-bg-secondary">21</span>
                    </a>
                </li>
            </ul>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="fw-bold">go-app</a>
                    <br>
                    package to build progressive web apps with Go programming language and WebAssembly.
                </li>
                <li class="list-group-item">
                    <a class="fw-bold">Schulplattform</a>
                    <br>
                    Live reload for Go apps
                </li>
                <li class="list-group-item">
                    <a class="fw-bold">lofimusic</a>
                    <br>
                    Lofimusic.app is an installable Progressive web app (PWA) that lists and displays famous YouTube Lo-Fi radios.
                </li>
            </ul>

        </div>
    </div>
</div>


