<div class="container py-4">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{template "partials/user_card" .VisitedUser}}
        </div>

        <div class="col-sm-12 col-md-9">
            {{template "partials/user_tabs" .}}

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="fw-bold">go-app</a>
                    <br>
                    package to build progressive web apps with Go programming language and WebAssembly.
                </li>
                <li class="list-group-item">
                    <a class="fw-bold">Schulplattform</a>
                    <br>
                    Live reload for Go apps
                </li>
                <li class="list-group-item">
                    <a class="fw-bold">lofimusic</a>
                    <br>
                    Lofimusic.app is an installable Progressive web app (PWA) that lists and displays famous YouTube Lo-Fi radios.
                </li>
            </ul>

        </div>
    </div>
</div>
