<div class="container py-4">
    <div class="row">
        <div class="col">
            {{template "partials/repo_path" .}}
        </div>
    </div>
    <div class="row">
        {{template "partials/repo_tabs" .}}
    </div>
    <div class="row">

        <div class="col-sm-12 col-md-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" aria-current="true">
                    General
                </a>
            </div>
        </div>

        <div class="col-sm-12 col-md-9">
            <h2>General</h2>
            <hr>
            <form action="/{{.User.Name}}/{{.VisitedRepo.Name}}/settings" method="post">
                <div class="mb-3">
                    <label for="displayName" class="form-label">Repository name</label>
                    <input 
                        class="form-control" 
                        id="displayName" 
                        name="repo"
                        value="{{.VisitedRepo.Name}}"
                    >
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="visibility" 
                            id="visibility1"
                            value="public"
                            {{if eq .VisitedRepo.IsPrivate false}} checked {{end}}
                        >
                        <label class="form-check-label" for="visibility1">
                            Publico
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="visibility" 
                            id="visibility2" 
                            value="private"
                            {{if eq .VisitedRepo.IsPrivate true}} checked {{end}}
                        >
                        <label class="form-check-label" for="visibility2">
                            Privado
                        </label>
                    </div>    
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea 
                        id="description" 
                        class="form-control" 
                        name="description"
                    >{{.VisitedRepo.Description}}</textarea>
                </div>


                <button type="submit" class="btn btn-warning">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>
