<div class="container py-4">
    <div class="row">
        <div class="col">
            {{template "partials/repo_path" .}}
        </div>
    </div>
    <div class="row">
        {{template "partials/repo_tabs" .}}
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                {{if .Readme}}
                    <pre>{{.Readme}}</pre>
                {{else if .VisitedRepoDir}}
                    {{range .VisitedRepoDir}}
                    <li class="list-group-item">
                        <i 
                            class="bi {{if .IsDirectory}} bi-archive-fill {{else}} bi-file-earmark {{end}}"
                        ></i>
                        <a href="{{.Location}}">{{.Name}}</a>
                    </li>
                    {{end}}
                {{else}}
                    <b>
                        <i>this blob object is not printable</i>
                    </b>
                {{end}}
            </div>
        </div>
    </div>
</div>
