<div class="container py-4">
    <div class="row">
        <div class="col">
            {{template "partials/repo_path" .}}
        </div>
    </div>
    <div class="row">
        {{template "partials/repo_tabs" .}}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="card mb-2">
                <div class="card-header">
                    <i class="bi bi-person-circle"></i>
                    <b>username</b>
                    <a href="#" class="link-underline-primary">last commit message</a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="bi bi-archive-fill"></i>
                            <a href="#">directory 1</a>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-archive-fill"></i>
                            <a href="#">directory2</a>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-file-earmark"></i>
                            <a href="#">file.go</a>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-file-earmark"></i>
                            <a href="#">index.js</a>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-file-earmark"></i>
                            <a href="#">README.md</a>
                        </li>
                    </ul>
                </div>
            </div>

            {{if .Readme}}
                {{template "partials/card_readme" .}}
            {{end}}
        </div>

        <div class="col-sm-12 col-md-3">
            <b>About</b>
            <p>
                {{if eq .VisitedRepo.Description ""}}
                    <i class="text-muted">No description provided</i>
                {{else}}
                    {{.VisitedRepo.Description}}
                {{end}}
            </p>
        </div>
    </div>
</div>
