<div class="container py-4">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{template "partials/user_card" .VisitedUser}}
        </div>

        <div class="col-sm-12 col-md-9">
            {{template "partials/user_tabs" .}}

            <div class="card mb-2">
                <div class="card-header">
                    <i class="bi bi-book"></i>
                    README.md
                </div>
                <div class="card-body">
                    <pre class="card-text code" style="white-space: pre-wrap;">here goes readme text</pre>
                </div>
            </div>

        </div>
    </div>
</div>
