<div class="container py-4">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{template "partials/user_card" .VisitedUser}}
        </div>

        <div class="col-sm-12 col-md-9">
            {{template "partials/user_tabs" .}}

            <ul class="list-group list-group-flush">
                {{range .VisitedUserRepos}}
                <li class="list-group-item">
                    <a class="fw-bold" href="{{.Location}}">{{.Name}}</a>
                    <br>
                    {{if eq .Description ""}} Sin Descripcion {{else}} {{.Description}} {{end}}
                </li>
                {{end}}
            </ul>

        </div>
    </div>
</div>
