@font-face {
    font-family: 'Code';
    src: url('/assets/code.ttf') format('truetype');
}

@font-face {
    font-family: 'Site';
    src: url('/assets/font.ttf') format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Site', 'Courier New', Courier;
}

/* logo dark themed */
.logo {
    filter: invert(100%);
}

/* to allow footer sticked to the bottom, header to the top and content not overlaying them */
#MainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
