<div class="container">
    <div class="text-center m-5">
        <img src="/assets/favicon.svg" class="w-25 h-25" />
        <h1 class="display-3">Open Platform for Open Source</h1>
    </div>

    <div class="row m-1">
        <div class="card-group">
            <div class="card">
                <img src="/assets/freedom.png" class="card-img-top" alt="free from surveillance picture">
                <div class="card-body">
                    <h5 class="card-title">Free from tracking</h5>
                    <p class="card-text">
                        We don't leak or sell your data to advertisers or anyone. We take your privacy seriously.
                    </p>
                    <small class="card-text text-muted">
                        <a href="/tos" class="btn btn-link">Read our ToS</a>
                    </small>
                </div>
            </div>
            <div class="card">
                <img src="/assets/foss.png" class="card-img-top" alt="100% FOSS">
                <div class="card-body">
                    <h5 class="card-title">100% FOSS</h5>
                    <p class="card-text">
                        Our entire codebase is open source and can be audited by anyone. You can check what's happening anytime. 
                    </p>
                    <small class="card-text text-muted">
                        <a href="https://github.com" class="btn btn-link">Read the source code</a>
                    </small>
                </div>
            </div>
            <div class="card">
                <img src="/assets/community.png" class="card-img-top" alt="community driven">
                <div class="card-body">
                    <h5 class="card-title">Truly community driven project</h5>
                    <p class="card-text">
                        We encourage contributions from our users. Be part of our development roadmap and improvements.
                    </p>
                    <small class="card-text text-muted">
                        <a href="/wallet.png" class="btn btn-link">Contribute now.</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
