<div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">Log In</h5>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="userEmail" class="form-label">Email or Username</label>
                    <input class="form-control" id="userEmail" name="useremail" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <a class="card-link" href="/register" class="card-link">Don't have an account?</a>
                <a class="card-link" href="/recover" class="card-link">Forgot your password?</a>
            </form>
        </div>
    </div>
</div>
