<div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form>
                <div class="mb-3">
                    <label for="exampleInputUsername" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputUsername" aria-describedby="userHelp" required>
                    <span id="userHelp" class="form-text">
                        This value is unique in the platform, use only alphanumeric characters
                    </span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Re-type Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <a class="card-link" href="/login" class="card-link">Already have an account?</a>
                <a class="card-link" href="/recover" class="card-link">Forgot your password?</a>
            </form>
        </div>
    </div>
</div>
