<div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input 
                        class="form-control" 
                        id="username" 
                        aria-describedby="userHelp"
                        name="username"
                        required
                    >
                    <span id="userHelp" class="form-text">
                        Don't use special characters. E.g. @Tom1
                    </span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        required
                        name="email"
                    >
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="password" 
                        required 
                        name="password"
                        aria-describedby="passwordHelp"
                    >
                    <span id="passwordHelp" class="form-text">
                        At least 8 characters, include numbers, lowercase and uppercase letters
                    </span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Re-type Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="confirmPassword" 
                        required 
                        name="confirmPassword"
                    >
                </div>
                <br>
                <a class="card-link" href="/login" class="card-link">Already have an account?</a>
                <a class="card-link" href="/recover" class="card-link">Forgot your password?</a>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
