<div class="container py-4">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Account
                </a>
            </div>
        </div>

        <div class="col-sm-12 col-md-9">
            <h2>General</h2>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="displayName" class="form-label">Display name</label>
                    <input class="form-control" id="displayName">
                </div>
                <div class="mb-3">
                    <label for="desciption" class="form-label">Bio</label>
                    <textarea 
                        id="description" 
                        rows="5" 
                        maxlength="250" 
                        class="form-control" 
                        placeholder="max. 250 chars."
                    >
                    </textarea>
                </div>
                <button type="submit" class="btn btn-warning">Update</button>
            </form>
        </div>
    </div>
</div>
